<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color-dark">
    <a class="navbar-brand text-center" href="{{ path('homepage') }}">
        <img class="d-block" src="{{ asset('images/pear.png') }}" height="30" alt="La bonne poire logo">
        <span class="text-white">La Bonne Poire</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('advert') }}">Les annonces</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('checkLogin') }}">{{ app.user.firstname }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{{ path('checkLogin') }}">Mon compte</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('checkLogin') }}"><i class="fas fa-shopping-cart"></i></a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="#">Se connecter</a>
                        <a class="dropdown-item" href="#">S'inscrire</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for flashError in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}


{% block javascripts %}
    <script>
      setTimeout(function(){
        $('.alert').fadeOut()
      },3000)
    </script>
{% endblock %}